extends ../../layout
include ../../blocks/header/header.pug
include ../../blocks/field/field.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/button/button.pug
include ../../blocks/room-info-item/room-info-item.pug
//- include ../../blocks/review/review.pug
include ../../blocks/bullet-list/bullet-list.pug

block content
    +header('header_fixed')
    main.main
        div.main__first-screen
            div.main__first-screen-image.js-main__first-screen-image
            div.main__first-screen-image.js-main__first-screen-image
            div.main__first-screen-image.js-main__first-screen-image
        div.main__owl-calousel
            div.owl-carousel.owl-theme
                img(alt='' class='owl-carousel-image')
                img(alt='' class='owl-carousel-image')
                img(alt='' class='owl-carousel-image')
        div.main__container
            div.main__content
                div.main__room-information
                    div.main__room-information-block.js-room-info-items
                    div.main__room-information-block
                        h2.main__pie Впечатления от номера
                        include ../../blocks/pie/pie.pug
                div.main__review-block
                    div.main__review-block-title.js__review-block__title
                        h2 Отзывы посетителей номера
                        p.main__review-block-description
                    div.js__review-block
                    //- +review('', 'image.png', 'Мурад Сарафанов', '5 дней назад', 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', ['review__like-button like-button_checked', 12])
                    //- +review('', 'image_4.png', 'Патрисия Стёклышкова', 'Неделю назад', 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент', ['review__like-button', 2])
                    button.reviews-button.js-reviews-button Показать еще
                div.main__room-information
                    div.main__room-information-block
                        h2.main__rules Правила
                        +bulletList('', ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00'])
                    div.main__room-information-block
                        h2.main__cancel Отмена
                        p Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.            
            form(action="").card.js-card
                div.card__element.card__room-characteristics
                    h1.h1.js-card-number 
                    h2.card__price.js-card-cost
                        span.card__price_thin  в сутки
                div.card__element.card__row
                    div
                        h3.field__title Прибытие
                        div.field__wrapper.field__wrapper_for-datepicker.field__wrapper_width_150.js-field__wrapper
                            +field('field_js-datepicker', 'text', 'ДД.ММ.ГГГГ', false, true)
                    div
                        h3.field__title Выезд
                        div.field__wrapper.field__wrapper_for-datepicker.field__wrapper_width_150.js-field__wrapper
                            +field('field_js-datepicker-altfield', 'text', 'ДД.ММ.ГГГГ', false, true)
                div.card__element
                    h3.field__title Гости
                    +dropdown('js-dropdown-guests', 'Сколько гостей', {'взрослые': 'guests', 'дети': 'guests', 'младенцы': 'babies'}, true)
                table.card__element.card__table.js-card__table
                    tr
                        td 
                        td
                        td 0р
                    tr
                        td Сбор за услуги
                        td 
                            +buttonRound('card__button_round', 'i')
                            div.card__tooltip Сбор за услуги
                        td 0р
                    tr
                        td Сбор за дополнительные услуги
                        td
                            +buttonRound('card__button_round', 'i')
                            div.card__tooltip Сбор за дополнительные услуги
                        td 0р
                div.card__element.card__room-characteristics.card__room-total-cost
                    h2.h2 Итого
                    h2.h2.js-total-cost 0р
                +buttonDisabled('card__button-reservation card__element button_with-icon js-card-submit-button', 'Забронировать')
    include ../../blocks/footer/footer.pug