@import '../../style/variables.scss';

.button {
    min-width: 99px;
    height: 44px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 22px;
    box-sizing: border-box;
    background: $gradient;
    transition: 400ms ease;

    &__text {
        color: white;

        &_color {
            &_purple {
                color: $purple;
            }

            &_dark50 {
                color: $dark50;
            }
        }
    }

    &__border-gradient {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        position: absolute;
        top: 2px;
        left: 2px;
        color: $purple;
        background-color: white;
        border-radius: 22px;

    }

    &:hover {
        background: $gradient2;
    }

    &_disabled,
    &[disabled] {
        opacity: 0.5;
        cursor: default;

        &:hover {
            background: $gradient;
        }
    }

    &_round {
        width: 30px;
        height: 30px;
        border: 1px solid $dark25;
        border-radius: 22px;
        color: $dark50;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: torem(18);
        line-height: torem(22);
        box-sizing: border-box;
    }

    &_with-icon {
        width: 100%;

        &::after {
            content: 'arrow_forward';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            position: absolute;
            top: 0;
            right: 0;
            font-family: "Material Icons", sans-serif;
            font-size: torem(24);
            line-height: torem(24);
            color: white;
        }
    }
}