button.button
    h3.button__text click me
button.button.button_disabled(disabled)
    h3.button__text click me
button.button
    div.button__border-gradient
        h3.button__text_color_purple click me
button.button.button_disabled(disabled)
    div.button__border-gradient
        h3.button__text_color_purple click me
button 
    h3.button__text_color_purple click me
button 
    h3.button__text_color_dark50 click me
button.button_round +