div.radio__wrapper
    label.radio
        input(type='radio' name='radio' value='1')
        div.radio__text Мужчина
    label.radio
        input(type='radio' name='radio' value='2')
        div.radio__text Женщина