extends ../../layout
include ../../blocks/header/header.pug
include ../../blocks/field/field.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/button/button.pug
include ../../blocks/range-slider/range-slider.pug
include ../../blocks/expandable-list/expandable-list.pug
include ../../blocks/checkbox/checkbox.pug
include ../../blocks/rate/rate.pug
include ../../blocks/pagination/pagination.pug

block content
    +header('header_fixed')
    main.main
        div.main__container
            form.left-sidebar
                div
                    h3.field__title даты пребывания в отеле
                    div.field__wrapper.field__wrapper_for-datepicker.js-field__wrapper
                        +field('field_js-datepicker', 'text', 'Выберите дату для бронирования', false, true)
                div
                    h3.field__title Гости
                    +dropdown('js-dropdown-guests', 'Сколько гостей', {'взрослые': 'guests', 'дети': 'guests', 'младенцы': 'babies'}, true)
                div
                    h3 Диапазон цены
                    +range-slider('')
                    p.left-sidebar__range-description Стоимость за сутки пребывания в номере
                div
                    h3 правила дома
                    div.left-sidebar__checkbox-container
                        each val in [['', 'Можно курить', 'smoking'], ['', 'Можно с питомцами', 'pets'], ['', 'Можно пригласить гостей (до 10 человек)', 'guests']]
                            +checkbox(...val)
                div
                    h3 доступность
                    div.left-sidebar__checkbox-container
                        each val in [['', 'Широкий коридор', 'wideCorridor', 'Ширина коридоров в номере не менее 91 см.'], ['', 'Помощник для инвалидов', 'disabledAssistant', 'На 1 этаже вас встретит специалист и проводит до номера.']]
                            +checkbox(...val)
                div
                    h3.field__title удобства номера
                    +dropdown('js-dropdown-room', 'Спальни, кровати...', {'спальни': 'bedrooms', 'кровати': 'bed', 'ванные комнаты': 'bathrooms'}, true)
                +expandable-list('left-sidebar__expandable-list expandable-list_width_266 expandable-list_with-icon', 'дополнительные удобства', [['', 'Завтрак', 'breakfast'], ['', 'Письменный стол', 'desk'], ['', 'Стул для кормления', 'feedingChair'], ['', 'Кроватка', 'crib'], ['', 'Телевизор', 'tv'], ['', 'Шампунь', 'shampoo']])
                div.left-sidebar__buttons-row
                    +button('left-sidebar__button js-left-sidebar-close', 'Отменить', true)
                    +button('left-sidebar__button js-left-sidebar-accept', 'Применить')
            div.main__content
                div.main__title
                    h1.h1 Номера, которые мы для вас подобрали
                    button.filter-button.js-filter-button Фильтры
                div.main__room-card-container
    include ../../blocks/footer/footer.pug