@import '../../style/variables.scss';

.main {
    padding-top: 70px;
    border-bottom: 1px solid $dark25;
}

.main__container {
    width: 1160px;
    margin: 30px auto 70px;
    display: flex;
}

.main__content {
    flex-grow: 1;
}

.left-sidebar {
    margin-right: 60px;

    & > * {
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }
    }
}

.left-sidebar__range-description {
    margin-top: 14px;
    font-size: torem(12);
    line-height: torem(14);
    color: $dark50;
}