@import '../../style/variables.scss';

.expandable-list__button {
    position: relative;
    height: 44px;

    &::after {
        content: 'keyboard_arrow_down';
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        position: absolute;
        top: 0;
        right: 0;
        font-family: "Material Icons", sans-serif;
        font-size: torem(24);
        line-height: torem(24);
        color: $dark50;
    }

    &:hover {
        cursor: pointer;
    }
}

.expandable-list__title {
    line-height: torem(44);
}

.expandable-list__checkbox-container {

    &_display_none {
        display: none;
    }
}