div.pie
    canvas(id='pie' width='120' height='120')
    div.pie__text
        p.h1.pie__sum
        p.h3.pie__word
    +bulletList('pie__bullet-list', ['Великолепно', 'Хорошо', 'Удовлетворительно', 'Разочарован'])