mixin checkbox(title, value, discription, className)
    label(class!=`checkbox ${className}`)
        input(type='checkbox' value= value)
        div.checkbox__text-block
            p.checkbox__title= title
            if discription
                p.checkbox__discription= discription