mixin checkbox(className, title, value, discription)
    label(class!=`checkbox ${className}`)
        input(type='checkbox' value= value)
        div.checkbox__text-block
            if discription
                p.checkbox__title= title
                p.checkbox__discription= discription
            else
                p.checkbox__title.checkbox__title_thin= title