@import '../../style/variables.scss';

.nav__menu {
    display: flex;
    justify-content: flex-end;

    &_open {
        display: block !important;
    }

    .nav__menu {
        display: none;
        position: absolute;
        z-index: 10;
        background-color: white;
        white-space: nowrap;
        min-width: 100%;
        transition: 300ms ease;

        &:hover {
            display: block;
        }

        .nav__item {
            border-bottom: 1px solid $dark10;
            transition: 300ms ease;

            &:first-child {
                margin-top: 15px;
            }
        
            &:hover {
                background-color: $grey;
            }
        }
    }
}

.nav__item {
    position: relative;
}

.nav__link {
    display: block;
    padding: 0 10px;
    cursor: pointer;
    color: $dark50;
    line-height: 40px;
    transition: 300ms ease;

    &:hover {
        color: $dark75;
    }
}

// .nav__link_active,
.nav__link.active {
    font-weight: 700;
    color: $dark75;

    &::after {
        font-weight: 400;
        color: $dark50;
    }
}

.nav__link_expandable {
    padding-right: 34px;
    position: relative;

    &::after {
        content: 'expand_more';
        display: block;
        width: 24px;
        position: absolute;
        top: calc(50% - 10px);
        right: 10px;
        font-family: "Material Icons", sans-serif;
        font-size: torem(24);
        line-height: torem(20);
    }

    &:hover {

        & + .nav__menu {
            display: block;
        }
    }
}

@include large {

    .nav__menu {

        .nav__menu {
            position: relative;

            .nav__item {
                
                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}

