@import '../../style/variables.scss';

.form-elements {
    margin: 145px auto;
    width: 1160px;

    &__section {
        display: flex;
        justify-content: space-between;
    }

    &__column {
        display: flex;
        flex-direction: column;
        max-width: 320px;

        & > * {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__description-text {
        position: absolute;
        bottom: 52px;
        right: 0;
        font-size: torem(12);
        line-height: torem(15);
        color: $dark50;
        text-transform: uppercase;
    }

    &__title {
        margin-bottom: 16px;
    }

    &__container {
        display: flex;

        & > * {

            &:first-child {
                margin-right: 20px;
            }
        }
    }
}