@import '../../style/variables.scss';

.form-elements {
    margin: 143px auto;
    max-width: 1160px;
    display: grid;
    grid-template-columns: 374px 320px 320px;
    column-gap: 72px;
    row-gap: 100px;

    &__grid-item {
        display: flex;
        flex-direction: column;

        &:first-child {
            margin-right: 54px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            & > * {
                margin-top: 40px;
    
                &:first-child {
                    margin-top: 0;
                }
            }
        }

        &:nth-child(4) {
            margin-bottom: 76px;
            max-width: 266px;
        }

        &:nth-child(7) {
            max-width: 266px;
        }

        & > * {
            margin-top: 20px;
            position: relative;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    &__description-text {
        position: absolute;
        top: 0;
        right: 0;
        font-size: torem(12);
        line-height: torem(15);
        color: $dark50;
        text-transform: uppercase;
    }

    &__title {

        &_margin-bottom_4 {
            margin-bottom: 4px;
        }

        &_margin-bottom_13 {
            margin-bottom: 13px;
        }

        &_margin-bottom_18 {
            margin-bottom: 18px;
        }
    }

    &__container {
        display: flex;

        & > *:first-child {
            margin-right: 20px;
        }

        &_padding-top_3 {
            padding-top: 3px;
        }

        &_padding-top_5 {
            padding-top: 5px;
        }

        &_margin-right {

            & > *:first-child {
                margin-right: 10px;
            }
        }
    }

    &__checkbox {

        &-container {
            max-width: 236px;
        }
    }

    &__buttons-wrapper {

        & > .form-elements__container {
            margin-bottom: 30px;
            margin-top: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__review-container {
        grid-column: 2 / 4;
        display: flex;
        justify-content: center;
    }

    &_margin {
    
        &_10 {
            margin-top: 10px;
        }
    
        &_40 {
            margin-top: 40px;
        }
    }

    &_max-width_266 {
        max-width: 266px;
    }

    &__expandable-list-container {
        position: relative;
        top: -14px;

        .expandable-list:first-child {
            margin-bottom: 20px;
        }
    }

    &__room-info-item {
        padding-top: 0;
    }
}

@include large-up {

    .form-elements {
        padding-left: 20px;
        padding-right: 20px;
    }
}