extends ../../layout
include ../../blocks/header/header.pug
include ../../blocks/field/field.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/button/button.pug
include ../../blocks/radio/radio.pug
include ../../blocks/toggle/toggle.pug

block content
    +header('header_fixed')
    main.first-screen
        form(action="").card.registration__card
            h1.card__element.h1 Регистрация аккаунта
            div.card__element.card__element_margin-bottom_10
                +field('', 'text', 'Имя')
                +field('', 'text', 'Фамилия')
                div.card__row-for-radio
                    +radio('', 'Мужчина', 'male')
                    +radio('', 'Женщина', 'female')
            div.card__element
                h3.field__title дата рождения
                +field('field_js-date', 'text', 'ДД.ММ.ГГГГ')
            div.card__element
                h3.field__title данные для входа в сервис
                div.card__element_margin-bottom_10
                    +field('', 'text', 'Email')
                    +field('', 'text', 'Пароль')
                    +toggle('', 'Получать спецпредложения', 'get special offers')
            +button('card__element button_width_320', 'перейти к оплате')
            div.card__element.card__submit-block
                p.card__submit-block-text Уже есть аккаунт на Toxin
                +button('', 'войти', true)
    include ../../blocks/footer/footer.pug