@import '../../style/variables.scss';

.review {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: repeat(2, auto);
    gap: 10px;

    &__circle-for-avatar {
        width: 48px;
        height: 48px;
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0px 10px 20px $dark10;
    }

    &__avatar {
        display: block;
        width:100%;
        border-radius: 50%;
    }

    &__username {
        font-weight: 700;
        line-height: torem(24);
    }

    &__date-added {
        line-height: torem(24);
    }

    &__like-button-wrapper {
        width: 48px;
        margin-top: 2px;
        display: flex;
    }

    &__like-button {
        margin: 0 auto;
    }
}