@import '../../style/variables.scss';
@import '../../../node_modules/air-datepicker/dist/css/datepicker.min.css';

.datepicker {
    width: 320px;
    height: 370px;
    overflow: hidden;
    background-color: white;
    border: 1px solid $dark25;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $dark5;
    border-radius: 4px;
    color: $dark50;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: torem(12);
    line-height: torem(15);

    &--pointer {
        display: none;
    }

    &--nav {
        border: none;
        padding: 20px 20px 30px;

        &-title {
            color: $dark100;
            font-family: "Quicksand", "OpenSans", sans-serif;
            font-weight: 700;
            font-size: torem(19);
            line-height: torem(24);
        }
    }

    &--icon {
        line-height: torem(20);
        color: $purple;
    }

    &--days {
        padding: 0 20px;
    }

    &--day-name {
        width: 38.5px;
        height: 40px;
        color: $purple;
        text-transform: capitalize;
        font-size: torem(12);
        line-height: torem(15);
        font-weight: 700;
    }

    &--cell {
        border-radius: 22px;
        width: 38.5px;
        height: 40px;

        &.-focus- {
            background: $secondaryGradient;
            color: white;
        }

        &.-disabled- {
            color: $dark25;
        
            &.-focus- {
              color: $dark25;
            }
        
            &.-in-range- {
              color: $dark25;
            }
        
            &.-current- {
                &.-focus- {
                    color: $dark25;
                }
            }
        }

        &.-range-from-,
        &.-range-to- {
            background: $gradient;
            border-radius: 22px 0 0 22px;
        }

        &.-range-to- {
            border-radius: 0 22px 22px 0;
        }

        &.-in-range- {
            background: $gradient;
            opacity: .25;
            color: $dark50;
            
            &.-focus- {
                color: $dark50;
            }
        }

        &.-other-month- {
            color: $dark25;
        }

        // &.-in-range- {
        //     background: map_get($datepickerBG, inRange);
        //     color: map_get($datepickerTextColor, common);
        //     border-radius: 0;
        
        //     &.-focus- {
        //       background-color: rgba(map_get($datepickerBG, inRange), .2);
        //     }
        // }

        // &.-range-to- {
        //     border: 1px solid rgba(map_get($datepickerBG, selected), .5);
        //     background-color: map_get($datepickerBG, inRange);
        //     border-radius:  0 $datepickerBorderRadius $datepickerBorderRadius 0;
        // }

        // &.-selected- {
        //     color: #fff;
        //     border: none;
        //     background: map_get($datepickerBG, selected);
        
        //     &.-current- {
        //       color: #fff;
        //       background: map_get($datepickerBG, selected);
        //     }
        
        //     &.-focus- {
        //       background: map_get($datepickerBG, selectedHover);
        //     }
        // }
    }

    &-inline {
        box-shadow: 0px 10px 20px $dark5;
    }
}