mixin colors-variables(discription, color)
    div.colors-variables(class!=attributes.class)
        case discription        
            when "Dark Shade 100%"
                div.colors-variables__square.colors-variables__square_color_dark100
            when "Dark Shade 75%"
                div.colors-variables__square.colors-variables__square_color_dark75
            when "Dark Shade 50%"
                div.colors-variables__square.colors-variables__square_color_dark50
            when "Dark Shade 25%"
                div.colors-variables__square.colors-variables__square_color_dark25
            when "Dark Shade 5%"
                div.colors-variables__square.colors-variables__square_color_dark5
            when "Purple"
                div.colors-variables__square.colors-variables__square_color_purple
            when "Green"
                div.colors-variables__square.colors-variables__square_color_green
        div.colors-variables__text-block.h2
            p.colors-variables__discription=discription
            p.colors-variables__text-num=color