@import '../../style/variables.scss';

.colors-variables {
    display: flex;
    align-items: center;

    &__square {
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 6px;
    }

    &:nth-child(1) .colors-variables__square {
        background-color: $dark100;
    }

    &:nth-child(2) .colors-variables__square {
        background-color: $dark75;
    }

    &:nth-child(3) .colors-variables__square {
        background-color: $dark50;
    }

    &:nth-child(4) .colors-variables__square {
        background-color: $dark25;
    }

    &:nth-child(5) .colors-variables__square {
        background-color: $dark5;
    }

    &:nth-child(6) .colors-variables__square {
        background-color: $purple;
    }

    &:nth-child(7) .colors-variables__square {
        background-color: $green;
    }

    &__text-block {
        padding: 0 40px;
        line-height: torem(29);
        color: $dark100;
    }

    &__text-num {
        font-weight: 400;
    }
}