mixin colors-variables(description, color)
    div.colors-variables(class!=attributes.class)
        div.colors-variables__square
        div.colors-variables__text-block.h2
            p.colors-variables__description=description
            p.colors-variables__text-num=color