@import "../../local_modules/normalize.css/normalize";

@import "utils/fonts";

@import "utils/icons";

@import "../utils/variables";

html,
body {
    margin: 0;
    padding: 0;
    width: 1440px;
    background-color: white;
    color: $dark75;
    font-family: "Montserrat-Light", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.container {
    max-width: 1160px;
    margin: auto;
    display: flex;
}

.columns {
    justify-content: space-between;
}

h1,
h2,
h3,
p,
ul,
button {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    background-color: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Montserrat-SemiBold", sans-serif;
}

h1 {
    color: $dark100;
    font-family: "Quicksand-SemiBold", "OpenSans", sans-serif;
    font-size: 24px;
    line-height: 30px;
}

h2 {
    color: $dark100;
    font-family: "Quicksand-SemiBold", "OpenSans", sans-serif;
    font-size: 19px;
    line-height: 24px;
}

h3 {
    color: $dark100;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.bgc-dark100 {
    background-color: $dark100;
}

.bgc-dark75 {
    background-color: $dark75;
}

.bgc-dark50 {
    background-color: $dark50;
}

.bgc-dark25 {
    background-color: $dark25;
}

.bgc-dark5 {
    background-color: $dark5;
}

.bgc-green {
    background-color: $green;
}

.bgc-purple {
    background-color: $purple;
}
