@import '../../style/variables.scss';

.copyright-bar {
    width: 100%;
    box-shadow: 0px -1px 0px $dark10;

    &_max-width_800 {
        box-shadow: none;

        .copyright-bar__container {
            width: 768px;
            background-color: white;
            padding: 120px 30px;
            box-sizing: border-box;
            flex-direction: column;
            box-shadow: 0px 10px 20px $dark5;
        }

        .copyright-bar__description {
            margin-bottom: 25px;
        }
    }
}

.copyright-bar__container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 23px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-bar__social-nav {
    display: flex;
}

.copyright-bar__social-link {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $purple;

    & + & {
        margin-left: 20px;
    }
}

.copyright-bar__social-icon {
    display: block;
    width: 24px;
    font-size: torem(24);
    line-height: torem(24);
    text-align: center;
}

@include large-up {
    .copyright-bar__container {
        max-width: 700px;
        padding-left: 20px;
        padding-right: 20px;
    }
}