include ../logo/logo.pug

mixin copyrightBar(className)
    div(class!=`copyright-bar ${className}`)
        div.copyright-bar__container
            if className == 'copyright-bar_max-width_800'
                +logo('footer__logo')
            p.copyright-bar__description Copyright © 2018 Toxin отель. Все права зачищены.
            div.copyright-bar__social-nav
                each socialLink in ['fab fa-twitter', 'fab fa-facebook-square', 'fab fa-instagram']
                    a(href="#", target="_blank").copyright-bar__social-link
                        i(class!=`copyright-bar__social-icon ${socialLink}`)