extends common/layout

block content
    div.ui-kit
        div.container.columns
            div colors
                div.ui-kit_color
                    div.ui-kit_color_block 1
                    div.ui-kit_color_text
                        h3.ui-kit_color_text_discription 1
                        h3.ui-kit_color_text_num 2
            div fonts