extends common/layout

block content
    div.ui-kit
        div.container.columns
            div
                input(type="text" name="name" placeholder="Имя" required)
                br
                br
                div.dropdown
                    div.dropdown__btn#jsDropdownGuestsBtn Сколько гостей
                        i.dropdown__btn__icon.material-icons keyboard_arrow_down
                    div.dropdown__list#jsDropdownGuestsList
                        div.dropdown__list__item.jsDropdownGuestsListItem
                            h3 Взрослые
                            div.dropdown__list__item__counter-block
                                button.dropdown__list__item__counter-block__btn.jsDropdownGuestsDecrement -
                                h3 0
                                button.dropdown__list__item__counter-block__btn.jsDropdownGuestsIncrement +
                        div.dropdown__list__item.jsDropdownGuestsListItem
                            h3 Дети
                            div.dropdown__list__item__counter-block
                                button.dropdown__list__item__counter-block__btn.jsDropdownGuestsDecrement -
                                h3 0
                                button.dropdown__list__item__counter-block__btn.jsDropdownGuestsIncrement +
                        div.dropdown__list__item.jsDropdownGuestsListItem
                            h3 Младенцы
                            div.dropdown__list__item__counter-block
                                button.dropdown__list__item__counter-block__btn.jsDropdownGuestsDecrement -
                                h3 0
                                button.dropdown__list__item__counter-block__btn.jsDropdownGuestsIncrement +
                        div.dropdown__footer
                            button.dropdown__footer__btn 
                                h3 Очистить
                            button.dropdown__footer__btn 
                                h3 Применить