extends common/layout

block content
    div.ui-kit
        div.container.columns
            div
                input(type="text" name="name" placeholder="Имя" required)
                br
                br
                div.dropdown
                    div.dropdown__btn
                        p Сколько гостей
                        i.dropdown__btn-icon.material-icons keyboard_arrow_down
                    div.dropdown__list
                        div.dropdown__list-item
                            h3.dropdown__list-item-name Взрослые
                            div.dropdown__counter-block
                                button.dropdown__counter-block-btn -
                                h3.dropdown__counter-block-counter 0
                                button.dropdown__counter-block-btn +
                        div.dropdown__list-item
                            h3.dropdown__list-item-name Дети
                            div.dropdown__counter-block
                                button.dropdown__counter-block-btn -
                                h3.dropdown__counter-block-counter 0
                                button.dropdown__counter-block-btn +
                        div.dropdown__list-item
                            h3.dropdown__list-item-name Младенцы
                            div.dropdown__counter-block
                                button.dropdown__counter-block-btn -
                                h3.dropdown__counter-block-counter 0
                                button.dropdown__counter-block-btn +
                        div.dropdown__footer
                            button.dropdown__footer-btn.dropdown__footer-btn_clean
                                h3 Очистить
                            button.dropdown__footer-btn.dropdown__footer-btn_check
                                h3 Применить