extends common/layout

block content
    h1 This is the body text which is used for most of the design, like paragraphs, lists, etc.
    h2 This is the body text which is used for most of the design, like paragraphs, lists, etc.
    h3 This is the body text which is used for most of the design, like paragraphs, lists, etc.
    p This is the body text which is used for most of the design, like paragraphs, lists, etc.
