div.dropdown#guests
    div.dropdown__btn.field
        p Сколько гостей
        i.dropdown__btn-icon.material-icons keyboard_arrow_down
    div.dropdown__list.display_none
        div.dropdown__list-item
            h3.dropdown__list-item-name Взрослые
            div.dropdown__counter-block
                button.button_round -
                h3.dropdown__counter-block-counter 0
                button.button_round +
        div.dropdown__list-item
            h3.dropdown__list-item-name Дети
            div.dropdown__counter-block
                button.button_round -
                h3.dropdown__counter-block-counter 0
                button.button_round +
        div.dropdown__list-item
            h3.dropdown__list-item-name Младенцы
            div.dropdown__counter-block
                button.button_round -
                h3.dropdown__counter-block-counter 0
                button.button_round +
        div.dropdown__footer
            button.dropdown__footer_button
                h3.button__text_color_purple Очистить
            button.dropdown__footer_button
                h3.button__text_color_purple Применить