mixin dropdown(className, arr, footer, buttonWithoutFill)
    div(class!=`dropdown ${className}`)
        each val in arr
            +dropdown__item(val)
        if footer
            div.dropdown__footer
                +buttonWithoutFill(...buttonWithoutFill)
                +buttonWithoutFill('dropdown__footer-button', 'Применить', 'purple')

mixin dropdown__item(itemName)
    div.dropdown__item
        h3.dropdown__item-name= itemName
        div.dropdown__counter-block
            +buttonRound('', '-')
            h3.dropdown__counter-block-counter 0
            +buttonRound('', '+')