@import '../../style/variables.scss';

.dropdown {
    position: relative;

    &_hover {

        .field {
            border: 1px solid $dark50;
            color: $dark75;

            &::placeholder {
                color: $dark75;
            }
        }
    }

    &_open {

        .dropdown__container {
            display: block;
        }
    }
}

.dropdown__field-wrapper {

    .field {
        border-radius: 4px 4px 0 0;
        cursor: pointer;

        &::placeholder {
            color: $dark75;
        }
    }

    &::after {
        content: 'expand_more';
        color: $dark50;
    }

    &:hover,
    &:focus {

        .field {
            border: 1px solid $dark50;
            color: $dark75;

            &::placeholder {
                color: $dark75;
            }
        }
    }
}

.dropdown__container {
    width: 100%;
    display: none;
    box-sizing: border-box;
    padding: 7px 7px 0 15px;
    position: absolute;
    top: 44px;
    background-color: white;
    z-index: 10;
    border: 1px solid $dark50;
    border-top: none;
    border-radius: 0 0 2px 2px;
    box-shadow: 0px 10px 20px $dark5;
}

.dropdown__item {
    display: flex;
    justify-content: space-between;
    align-items: center;        
    margin-bottom: 7px;
}

.dropdown__counter-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92px;
}

.dropdown__button_disabled {
    border: 1px solid $dark10;
    color: $dark25;
    cursor: auto;
}

.dropdown__footer {
    display: flex;
    justify-content: space-between;
}

.dropdown__footer-button {
    padding: 12px 0;

    &_disabled {
        opacity: 0;
        cursor: auto;
    }
}