extends ../../layout
include ../../blocks/header/header.pug

block content
    main.headers-footers
        +header('')
        +header('', 'Юлий Цезарь')
        include ../../blocks/footer/footer.pug
        footer.footer
            include ../../blocks/copyright-bar/copyright-bar.pug