extends ../../layout
include ../../blocks/header/header.pug

block content
    main.headers-footers
        +header('')
        +header('', 'Юлий Цезарь')
        include ../../blocks/footer/footer.pug
        +copyrightBar('copyright-bar_max-width_800')