@font-face {
    font-family: "Quicksand";
    src: url("../fonts/quicksandbold.eot");
    src: local("☺"), url("../fonts/quicksandbold.woff") format("woff"), url("../fonts/quicksandbold.ttf") format("truetype"), url("../fonts/quicksandbold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-SemiBold.eot");
    src: local("☺"), url("../fonts/Quicksand-SemiBold.woff") format("woff"), url("../fonts/Quicksand-SemiBold.ttf") format("truetype"), url("../fonts/Quicksand-SemiBold.svg") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Regular.eot");
    src: local("☺"), url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.ttf") format("truetype"), url("../fonts/Quicksand-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Light.eot");
    src: local("☺"), url("../fonts/Quicksand-Light.woff") format("woff"), url("../fonts/Quicksand-Light.ttf") format("truetype"), url("../fonts/Quicksand-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/opensansbold.eot");
    src: local("☺"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserratbold.eot");
    src: local("☺"), url("../fonts/montserratbold.woff") format("woff"), url("../fonts/montserratbold.ttf") format("truetype"), url("../fonts/montserratbold.svg") format("svg");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.eot");
    src: local("☺"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.svg") format("svg");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat.eot");
    src: local("☺"), url("../fonts/montserrat.woff") format("woff"), url("../fonts/montserrat.ttf") format("truetype"), url("../fonts/montserrat.svg") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.eot");
    src: local("☺"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal;
}