@import '~normalize.css';
@import 'fonts.scss';
@import 'icons.scss';
@import 'variables.scss';

html,
body {
    width: 100%;
    background-color: white;
    color: $dark75;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: torem(24);
}

// .container {
//     width: 1160px;
//     margin: auto;
//     display: flex;
// }

// .row {
//     display: flex;
// }

h1,
h2,
h3,
p,
ul,
button {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
.h1 {
    color: $dark100;
    font-family: "Quicksand", "OpenSans", sans-serif;
    font-weight: 700;
    font-size: torem(24);
    line-height: torem(30);
}

h2,
.h2 {
    color: $dark100;
    font-family: "Quicksand", "OpenSans", sans-serif;
    font-weight: 700;
    font-size: torem(19);
    line-height: torem(24);
}

h3,
.h3 {
    color: $dark100;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: torem(12);
    line-height: torem(15);
    text-transform: uppercase;
}

input,
textarea,
button {
    outline: none;
    border: none;
    background-color: none;
}

button {
    background: none;
    cursor: pointer;
}

.display_none {
    display: none;
}