$dark100: #1f2041;
$dark75: rgba(31, 32, 65, 0.75);
$dark50: rgba(31, 32, 65, 0.5);
$dark25: rgba(31, 32, 65, 0.25);
$dark10: rgba(31, 32, 65, 0.1);
$dark5: rgba(31, 32, 65, 0.05);
$purple: #bc9cff;
$green: #6fcf97;
$grey: #F4F4F6;

$gradient: linear-gradient(180deg, $purple 0%, #8ba4f9 100%);
$gradient2: linear-gradient(0deg, $purple 0%, #8ba4f9 100%);
$secondaryGradient: linear-gradient(180deg, $green 0%, #66D2EA 100%);

@function torem($px) {

    @return $px / 14 + rem;
}


@mixin small {
    @media (max-width: 499px) { @content; }
}

@mixin medium {
    @media (max-width: 699px) { @content; }
}

@mixin large {
    @media (max-width: 999px) { @content; }
}

@mixin large-up {
    @media (max-width: 1200px) { @content; }
}