mixin room-info-item(className, icon, title, description)
    div(class!=`room-info-item ${className}`)
        i.material-icons.room-info-item__icon= icon
        div.room-info-item__text
            p.room-info-item__text-title= title
            p.room-info-item__text-description= description
