mixin room-info-item(className, icon, title, discription)
    // - room-info-item_after для добавления подчеркивания; icon, title, discription - содержание
    div(class!=`room-info-item ${className}`)
        i.material-icons.room-info-item__icon= icon
        div.room-info-item__text
            p.room-info-item__text-title= title
            p.room-info-item__text-discription= discription
