@import '../../style/variables.scss';

.field {
    height: 44px;
    max-width: 320px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding: 0 15px;
    border: 1px solid $dark25;
    border-radius: 4px;
    transition: 400ms ease;
    color: $dark75;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: torem(14);
    line-height: torem(18);

    &::placeholder {
        color: $dark25;
        transition: 400ms ease;
    }
    
    &:hover,
    &:focus,
    &_hover {
        border: 1px solid $dark50;
        color: $dark75;

        &::placeholder {
            color: $dark75;
        }
    }
}

.field__title {
    margin-bottom: 5px;
}

.field__wrapper {
    display: inline-block;
    position: relative;
    width: 100%;

    &::after {
        content: 'arrow_forward';
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        transition: 400ms ease;
        font-family: "Material Icons", sans-serif;
        font-size: torem(24);
        line-height: torem(24);
    }

    &:hover .field {                
        border: 1px solid $dark50;
        color: $dark75;

        &::placeholder {
            color: $dark75;
        }
    }

    .field {
        padding: 0 44px 0 15px;
    }

    &_for-subscription {
        // width: 266px;

        &::after {
            background: $gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: $purple;
        }
    }

    &_for-datepicker {
        // width: 266px;

        &::after {
            content: 'expand_more';
            color: $dark50;
        }

        .field {

            &::placeholder {
                color: $dark75;
            }
        }
    }

    // &_width_150 {  // изменить
    //     max-width: 150px;
    //     width: 100%;
    // }
}