mixin range-slider(className)
    div(class!=`range-slider ${className}`)
        p.range-slider__range
        div.range-slider__field
            div.range-slider__base
            div.range-slider__minPoint
            div.range-slider__maxPoint
            div.range-slider__fill
