@import '../../style/variables.scss';

.range-slider {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;

    &:hover {
        cursor: pointer;
    }
}

.range-slider__base {
    height: 6px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $dark25;
    border-radius: 3px;
    bottom: 0;
}

.range-slider__minPoint,
.range-slider__maxPoint {
    display: block;
    width: 12px;
    height: 12px;
    border: 2px solid white;
    border-radius: 10px;
    background: $secondaryGradient;
    position: absolute;
    top: calc(100% - 11px);
    z-index: 5;
}

.range-slider__fill {
    height: 6px;
    box-sizing: border-box;
    border-radius: 3px;
    background: $secondaryGradient;
    position: absolute;
    top: calc(100% - 6px);
}

.range-slider__range {
    position: absolute;
    bottom: 30px;
    right: 0;
    font-size: torem(12);
    line-height: torem(15);
    color: $dark50;
    text-transform: uppercase;
    cursor: auto;
}