mixin range-slider(className, formElementsTitle)
    div(class!=`range-slider ${className}`)
        p.range-slider__range= formElementsTitle
        div.range-slider__base
            div.range-slider__fill
