.dropdown {

    @extend .form-elements;

    position: relative;
    display: block;

    &__btn {
        position: relative;
        padding: torem(12) torem(44) torem(13) torem(15);
        box-sizing: border-box;
        border: 1px solid $dark25;
        border-radius: 2px 2px 0 0;
        cursor: pointer;

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: torem(44);
            height: torem(44);
            position: absolute;
            top: 0;
            right: 0;
            color: $dark75;
        }
    }

    &__list {
        padding: torem(7) torem(7) 0 torem(15);
        position: absolute;
        top: torem(44);
        background-color: white;
        z-index: 10;
        border: 1px solid $dark25;
        border-radius: 0 0 2px 2px;

        @extend .form-elements;

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__counter-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: torem(92);
        padding-bottom: torem(7);
    }

    &__footer {
        display: flex;
        justify-content: space-between;

        &_button {
            padding: torem(12) 0;
        }
    }
}
