.dropdown {

    @extend .form-elements;

    position: relative;
    display: block;

    &__btn {
        position: relative;
        padding: 12px 44px 13px 15px;
        box-sizing: border-box;
        border: 1px solid $dark25;
        border-radius: 2px 2px 0 0;
        cursor: pointer;

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            position: absolute;
            top: 0;
            right: 0;
            color: $dark75;
        }
    }

    &__list {
        padding: 7px 7px 0 15px;
        position: absolute;
        top: 44px;
        background-color: white;
        z-index: 10;
        border: 1px solid $dark25;
        border-radius: 0 0 2px 2px;

        @extend .form-elements;

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__counter-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 92px;
        padding-bottom: 7px;

        &-btn {
            width: 30px;
            height: 30px;
            box-sizing: border-box;
            border-radius: 22px;
            border: 1px solid $dark25;
            color: $dark25;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;

        &-btn {
            padding: 12px 0;

            &_clean {
                h3 {
                    color: $dark50;
                }
            }

            &_check {
                h3 {
                    color: $purple;
                }
            }
        }
    }
}
