.form-elements {
    width: 320px;
    outline: none;
    background: none;
    box-sizing: border-box;
    border: 1px solid $dark25;
    transition: 400ms ease;
    color: $dark75;
    font-family: "Montserrat-Light", sans-serif;
    font-size: 14px;
}

input,
textarea {

    @extend .form-elements;

    border-radius: 4px;
    padding: 12px 15px;

    &::placeholder {
        color: $dark25;
    }

    &:focus,
    &:hover {
        border: 1px solid $dark50;
        color: $dark75;

        &::placeholder {
            color: $dark50;
        }
    }
}

.dropdown {

    @extend .form-elements;

    position: relative;
    display: block;
    border-radius: 2px;

    &__btn {
        padding: 12px 44px 13px 15px;
        box-sizing: border-box;
        border-bottom: 1px solid $dark25;
        cursor: pointer;
    }

    &__list {
        padding: 7px 7px 0 15px;

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__counter-block {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 92px;
                padding-bottom: 7px;
            }
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;

        &__btn {
            padding: 12px 0;

            &:first-child {
                h3 {
                    color: $dark50;
                }
            }

            &:last-child {
                h3 {
                    color: $purple;
                }
            }
        }
    }
}

.btn {
    &__counter {
        width: 30px;
        height: 30px;
        box-sizing: border-box;
        border-radius: 22px;
        border: 1px solid $dark25;
        color: $dark25;
    }
}
