.form-elements {
    width: torem(320);
    outline: none;
    background: none;
    box-sizing: border-box;
    transition: 400ms ease;
    color: $dark75;
    font-family: "Montserrat-Light", sans-serif;
    font-size: torem(14);
}

input,
textarea {

    @extend .form-elements;

    border-radius: 4px;
    padding: torem(12) torem(15);
    border: 1px solid $dark25;

    &::placeholder {
        color: $dark25;
    }

    &:focus,
    &:hover {
        border: 1px solid $dark50;
        color: $dark75;

        &::placeholder {
            color: $dark50;
        }
    }
}
