@import '../../style/variables.scss';

.burger {
    display: none;
}

.burger + label {
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.burger+label>span {
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 17px);
    width: 34px;
    height: 2px;
    border-radius: 1px;
    background-color: $purple;
    transition: 250ms ease;
}

.burger+label>span:first-child {
    transform: translateY(-10px);
}

.burger+label>span:last-child {
    transform: translateY(10px);
}

.burger+label>span:nth-child(2) {
    transform: scaleX(1);
}

.burger:checked+label>span:first-child {
    transform: rotate(45deg);
}

.burger:checked+label>span:last-child {
    transform: rotate(-45deg);
}

.burger:checked+label>span:nth-child(2) {
    transform: scaleX(0);
}

@include large {

    .burger+label{
        display: block;
    }
}