extends ../../layout
include ../../blocks/field/field.pug
include ../../blocks/dropdown/dropdown.pug
include ../../blocks/button/button.pug
include ../../blocks/radio/radio.pug
include ../../blocks/toggle/toggle.pug
include ../../blocks/rate/rate.pug

block content
    main.cards
        div.cards__column
            form(action="").card
                h1.card__element.h1 Найдём номера под ваши пожелания
                div.card__element.card__row
                    div
                        h3.field__title Прибытие
                        div.field__wrapper.field__wrapper_for-datepicker.field__wrapper_width_150
                            +field('', 'text', 'ДД.ММ.ГГГГ', true)
                    div
                        h3.field__title Выезд
                        div.field__wrapper.field__wrapper_for-datepicker.field__wrapper_width_150
                            +field('', 'text', 'ДД.ММ.ГГГГ', true)
                div.card__element
                    h3.field__title Гости
                    +dropdown('', 'Сколько гостей')
                +button('card__element button_width_320', 'подобрать номер')
            form(action="").card
                h1.card__element.h1 Регистрация аккаунта
                div.card__element.card__element_margin-bottom_10
                    +field('', 'text', 'Имя')
                    +field('', 'text', 'Фамилия')
                    div.card__row
                        +radio('', 'Мужчина', 'male')
                        +radio('', 'Женщина', 'female')
                div.card__element
                    h3.field__title дата рождения
                    +field('field_js-date', 'text', 'ДД.ММ.ГГГГ')
                div.card__element
                    h3.field__title данные для входа в сервис
                    div.card__element_margin-bottom_10
                        +field('', 'text', 'Email')
                        +field('', 'text', 'Пароль')
                        +toggle('', 'Получать спецпредложения', 'get special offers')
                +button('card__element button_width_320', 'перейти к оплате')
                div.card__element.card__submit-block
                    p.card__submit-block-text Уже есть аккаунт на Toxin
                    +button('', 'войти', true)
        div.cards__column
            form(action="").card
                div.card__element.card__room-characteristics
                    h1.h1 № 888
                        span.h3.card__room-characteristics_color_purple  люкс
                    h2.card__price 9 990р
                        span.card__price_thin  в сутки
                div.card__element.card__row
                    div
                        h3.field__title Прибытие
                        div.field__wrapper.field__wrapper_for-datepicker.field__wrapper_width_150
                            +field('', 'text', '19.08.2019', true)
                    div
                        h3.field__title Выезд
                        div.field__wrapper.field__wrapper_for-datepicker.field__wrapper_width_150
                            +field('', 'text', '23.08.2019', true)
                div.card__element
                    h3.field__title Гости
                    +dropdown('', '3 гостя')
                table.card__element.card__table
                    tr
                        td 9 990р х 4 суток
                        td
                        td 39 960р
                    tr
                        td Сбор за услуги: скидка 2 179р
                        td 
                            +buttonRound('card__button_round', 'i')
                        td 0р
                    tr
                        td Сбор за дополнительные услуги
                        td
                            +buttonRound('card__button_round', 'i')
                        td 300р
                div.card__element.card__room-characteristics
                    h2.h2 Итого
                    h2.h2 38 081р
                +button('card__button-reservation card__element button_width_320', 'Забронировать')
            form(action="").card
                h1.card__element.h1 Войти
                div.card__element.card__element_margin-bottom_10
                    +field('', 'text', 'Email')
                    +field('', 'text', 'Пароль')
                +button('card__element button_width_320', 'Войти')
                div.card__element.card__submit-block
                    p.card__submit-block-text Нет аккаунта на Toxin?
                    +button('', 'создать', true)
        div.cards__column
            div.field_js-datepicker
            div.room-card
                div.owl-carousel.owl-theme
                    img(src=`assets/images/room_1.jpg` alt='room_1')
                    img(src=`assets/images/room_2.jpg` alt='room_2')
                    img(src=`assets/images/room_2.jpg` alt='room_2')
                    img(src=`assets/images/room_2.jpg` alt='room_2')
                div.room-card__text-block
                    div.room-card__text-block-item.room-card__characteristics
                        h1.h1 № 888
                            span.h3.room-card__characteristics_color_purple  люкс
                        h2.room-card__price 9 990р
                            span.room-card__price_thin  в сутки
                    div.room-card__text-block-item.room-card__rating
                        +rate-result('', 5)
                        h2.room-card__price 145
                            span.room-card__price_thin.room-card__price_size_14  Отзывов
            div.room-card
                div.owl-carousel.owl-theme
                    img(src=`assets/images/room_2.jpg` alt='room_2')
                    img(src=`assets/images/room_1.jpg` alt='room_1')
                    img(src=`assets/images/room_1.jpg` alt='room_1')
                div.room-card__text-block
                    div.room-card__text-block-item.room-card__characteristics
                        h1.h1 № 840
                        h2.room-card__price 9 990р
                            span.room-card__price_thin  в сутки
                    div.room-card__text-block-item.room-card__rating
                        +rate-result('', 4)
                        h2.room-card__price 65
                            span.room-card__price_thin.room-card__price_size_14  Отзывов