include ../logo/logo.pug
include ../nav/nav.pug
include ../sign-in/sign-in.pug
include ../burger/burger.pug

mixin header(className, username)
    header(class!=`header ${className}`)
        div.header__container
            +logo('')
            +burger('')
            div.header__container-for-burger
                +nav('header__nav')
                +sign-in('', username)
