include ../logo/logo.pug
include ../nav/nav.pug
include ../sign-in/sign-in.pug

mixin header(className, username)
    header(class!=`header ${className}`)
        div.header__container
            +logo('')
            +nav('header__nav')
            +sign-in('', username)
