@import '../../style/variables.scss';

.header {
    width: 100%;
    background-color: white;
    box-shadow: 0px 10px 20px $dark5;

    &_fixed {
        position: fixed;
        z-index: 10;
    }
}

.header__container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include large-up {
        margin: 0 20px;
    }
}

.header__container-for-burger {
    flex-grow: 1;
    display:flex;
    align-items: center;
}

.header__nav {
    flex-grow: 1;
    margin-right: 10px;
}