mixin list-title(className, title)
    // - list-title_width_266 или list-title_width_292; list-title_with-icon для добавления иконки; title - заголовок
    div(class!=`list-title ${className}`)
        h3.list-title__title= title