@import '../../style/variables.scss';

.list-title {
    display: flex;
    height: 44px;

    &_width {

        &_266 {
            width: 266px;
        }

        &_292 {
            width: 292px;
        }
    }

    &_with-icon {
        position: relative;

        &::after {
            content: 'keyboard_arrow_down';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            position: absolute;
            top: 0;
            right: 0;
            font-family: "Material Icons", sans-serif;
            font-size: torem(24);
            line-height: torem(24);
            color: $dark50;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &__title {
        margin: auto 0;
    }
}