@import '../../style/variables.scss';

.bullet-list {
    display: block;
    max-width: 266px;

    &__item {
        padding: 0 10px 0 21px;
        position: relative;
        margin-bottom: 10px;

        &::before {
            content: '';
            position: absolute;
            top: 7px;
            left: 0;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 22px;
            background-color: $dark25;
        }
    }
}